html,
body,
#root {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    font-family: Oxygen, sans-serif;
}

$blue_theme: #263279;
//Root Container
.root-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 10px;
}

.box-controller {
    visibility: visible;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 24em;
    min-width: 21em;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(15, 15, 15, 0.2);
    box-shadow: 0px 0px 20px 0px rgba(15, 15, 15, 0.2);
    margin-bottom: 15px;
    align-items: center;
    transition: visibility 0.5s ease-out;
}

.controller {
    flex: 1;
    text-align: center;
    height: 100%;
    line-height: 2;
    cursor: pointer;
}

//Currently Selected Controller
.selected-controller {
    transition: border 0.5s ease-out;
    border-bottom: 2px solid $blue_theme;
}

.box-container {
    display: flex;
    flex-direction: column;
    width: 21em;
    min-height: 32em;
    max-height: 45em;
    box-shadow: 0px 0px 20px 0px rgba(15, 15, 15, 0.2);
    border-radius: 6px;
    padding: 24px;
    margin-bottom: 30px;
}

.inner-container {
    transition: visibility 0.2s ease-out;
}

.inner-container.show {
    visibility: visible;
}

//Header
.header {
    text-align: center;
    padding: 5px;
    margin-bottom: 17px;
    font-size: 20px;
    border-bottom: 2px solid $blue_theme;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.input-group {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    margin-bottom: 20px;
    position: relative;
}

span.fa {
    position: absolute;
    top: 70%;
    right:20px;
    transform: translateY(-50%);
}

//Label
.login-label {
    font-size: 16px;
    font-weight: 400;
}

//Input
.login-input {
    width: 100%;
    height: 2em;
    border: 1px solid $blue_theme;
    border-radius: 5px;
    padding: 16px;
    margin-top:5px;
    font-size: 16px;
    color: #3e3e42;
    background: rgba(15, 15, 15, 0.01);
}

.login-input:hover {
    box-shadow: 0px 0px 0px 1px $blue_theme;
   }

.login-input-error {
    width: 100%;
    height: 2em;
    border: 2px solid #f8260f;
    border-radius: 5px;
    padding: 16px;
    margin-top:5px;
    font-size: 16px;
}

.login-input-error:hover {
    box-shadow: 0px 0px 0px 2px #f8260f;
   }


.btn {
    padding: 10px 25px;
    font-size: 16px;
    border-radius: 23px;
    background-color: rgba(15, 15, 15, 0.03);
    margin-top: 20px;
    margin:5px;
    border: 1px solid $blue_theme;
    transition: background-color 0.3s ease-out;
    cursor: pointer;
}

.btn:disabled {
    cursor: not-allowed !important;
    opacity: 0.65; 

  }

.btn:hover,
.btn:focus {
    background-color: $blue_theme;
    color: white;
}

.FBbtn {
    text-align: center;
    display: block;
    margin: 0 auto;
    padding:5px 15px;
    border: 0;
    font-size: 30px;
    border-radius: 30px;
    background-color: rgba(15, 15, 15, 0.03);
    margin-top: 20px;
    border: 1px solid $blue_theme;
    transition: background-color 0.3s ease-out;
    cursor: pointer;
}

.FBbtn:hover,
.FBbtn:focus {
    background-color: $blue_theme;
    color: white;
}

.text{
    margin-top: 15px;
}

.center{
    font-size: 15px;
    height:auto;
    text-align: center;
}

.avatar {
    margin: auto;
    margin-bottom: 10px;
}

.danger-error {
    padding: 15px;
    color: #f8260f;
    font-size: 13px;
}

.upload-container {
    cursor: pointer;
    background-color: #efebeb;
}

.autocomplete-container {
    max-height:8em;
    overflow: auto;
    // position: absolute;
    transition: height 0.3s ease-out;
    border-left: 1px solid efebeb;
    border-right:1px solid efebeb;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    border-radius: 0 0 2px 2px;
    
}

.line-autocomplete-container {
    background-color: #efebeb;
    font-family: Oxygen, sans-serif;
    opacity: 0.7;
  }

.line-autocomplete-container:hover {
    cursor: pointer;
    background-color: #efebeb;
    opacity: 1;
  }  